body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  color: #222;
}
:root {
  --priary: #000000;
  --secondry: #E1EDE8;
  --tershari: #218256;
}

body {
  background-color: var(--priary);
}

